.Header p {
  color: var(--color-primary);
  font-weight: 300;
  text-transform: uppercase;
  height: 30px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.Greeting {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 4em;
  display: inline-block;
}
